@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

$amarelo: #F7B600;
$cinza: #E6E6E6;
$cinza-escuro: #444444;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: $cinza;
}

header, main, footer {
    min-width: 320px;
    overflow: hidden;
}

.menu {
    min-height: 136px;
    background: $amarelo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .menu__logo {
        font-size: 4.0rem;
        font-weight: bold;
        text-decoration: none;

        .logo__tec {
            color: $cinza-escuro;
        }

        .logo__blog {
            color: #fff;
        }
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-top: 20px;

        li a {
            text-decoration: none;
            color: #fff;
            padding: 8px 12px;
            font-size: 1.6rem;
            font-weight: 700;
            border-radius: 10px;
            transition-duration: 0.4s;
            margin-left: 10px;

            &:hover {
                color: $amarelo;
                background: #fff;
            }

            &.active {
                color: $amarelo;
                background: #fff;
            }
        }
    }
}

main {
    max-width: 950px;
    margin: 15px auto;

    .content__main {
        display: grid;
        

        .content__article {
            display: flex;
            flex-direction: column;
            

            .article {

                margin-top: 20px; 
                background: #fff;  
                padding: 2%;
                border-radius: 5px;             

                h1 {
                    font-size: 2.4rem;
                    color: $amarelo;

                }

                h2 {
                    font-size: 1.2rem;
                    margin-bottom: 20px;
                }

                img {
                    width: 100%;
                }

                p {
                    text-align: justify;
                    font-size: 1.6rem;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    transition-duration: 0.4s;
                }

                a {
                    font-size: 1.6rem;
                    color: $amarelo;
                    text-decoration: none;
                    font-weight: 700;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .content__right {
            display: flex;
            flex-direction: column;

            .content__postagemRecente {
                padding: 4%;
                background: #fff;
                margin-top: 20px;
                
                border-radius: 5px;

                
                h1 {
                   font-size: 1.8rem; 
                   font-weight: bold;
                   color: $cinza-escuro;
                   background: $cinza;
                   padding: 5px;
                }

                .postagem {
                    font-size: 1.3rem;
                    padding: 5px;
                    border-bottom: 1px dotted $cinza;

                    a {
                        color: $amarelo;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .content__categorias {
                @extend .content__postagemRecente;


                ul {
                    list-style: none;
                    margin-top: 10px;

                    li a {
                        font-size: 1.6rem;
                        color: $amarelo;
                        padding: 5px;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    max-width: 950px;
    margin: 0 auto;
    padding: 1%;
}

@media (min-width: 960px) {
    .content__main {
        grid-template-columns: 70% 30%;
    }

    .content__postagemRecente {
        margin-left: 15px;
    }
    
}

@media (max-width: 960px) {

    main {
        padding: 2%;
    }
    .content__postagemRecente {
        margin-left: 0;
    }
}

@media (max-width: 430px) {
    .menu nav ul li a {
        margin-left: 0;
    }

    main .content__main .content__article .article p, main .content__main .content__article .article a {
        font-size: 1.2rem;
    }
}