$azul-escuro: #294C71;
$vermelho-escuro: #B10333;
$vermelho-claro: #DE003E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

header,
main {
    max-width: 950px;
    min-width: 320px;
    margin: 0 auto;
}

body {
    background: url(../assets/fundo.png) repeat-x top;
}

// Menu

.menu {

    height: 233px;
    background: url(../assets/detalhe-topo.png) no-repeat right top;
    position: relative;


    img {
        margin-top: 20px;
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        width: max-content;
        margin: 20px auto;
        background: rgba(255, 255, 255, 0.253);
        border-radius: 30px;
        overflow: hidden;

        li a {
            text-decoration: none;
            color: #fff;
            border-radius: 30px;
            display: block;
            padding: 15px 20px;
            font-size: 1.5rem;
            font-weight: 500;
            transition-duration: 0.4s;

            &:hover {
                color: $azul-escuro;
                transform: translateX(5px);
            }
        }

        li a.active {
            background: #fff;
            color: $azul-escuro;
        }
    }

    .menu__toggle {
        display: none;
        position: absolute;
        top: 15px;
        right: 0;
        padding: 5px;
        width: 50px;
        height: 47px;
        margin-right: 40px;
        margin-left: auto;
        cursor: pointer;

        .one,
        .two,
        .three {
            background-color: #fff;
            border-radius: 4px;
            height: 5px;
            width: 100%;
            margin: 6px auto;
            transition-duration: 0.3s;
        }
    }
}

// Main

main {
    display: grid;
    grid-template-areas:
        "sidenav content"
    ;

    section {
        grid-area: content;

        display: grid;
        grid-template-columns: 1fr 1fr;

        .article {
            background: url(../assets/fundo-caixa.png);
            margin: 2% 1%;
            padding: 1%;
            // height: max-content;


            .content {
                background: #fff;
                padding: 1%;
                
            }

            h2 {
                background: $azul-escuro;
                color: #fff;
                padding: 5px;
                font-size: 1.8rem;
                font-weight: 500;
            }

            h1 {
                background: $vermelho-escuro;
                color: #fff;
                font-weight: 300;
                display: inline-block;
                padding: 3px 8px;
                margin-bottom: 2%;
            }

            img {
                width: 100%;
                border-radius: 7px;
            }

            p,
            a {
                font-size: 1.6rem;
                margin: 1% 0;
            }

            a {
                text-decoration: none;
                color: $vermelho-escuro;
                font-weight: 500;
            }


        }

        .entrevista,
        .mundo {
            @extend .article;
            display: flex;
            flex-direction: column;


            .content {
                display: flex;
                align-items: center;
                cursor: pointer;
                border: 1px solid #fff;
                border-radius: 5px;
                padding: 0 0 0 8px;
                transition-duration: 0.4s;
                margin-top: 4px;

                img {
                    width: 100px;
                }

                p {
                    padding: 2%;
                }

                a {
                    color: #294C71;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                    height: 100%;
                    font-size: 2.8rem;
                    border-radius: 0 5px 5px 0;
                    transition: 0.3s;

                    &:hover {}
                }

                &:hover {
                    border: 1px solid $azul-escuro;

                    a {
                        background: $azul-escuro;
                        color: #fff;
                    }
                }
            }
        }


    }

    aside {
        grid-area: sidenav;
        background: url(../assets/fundo-caixa.png);
        margin: 3% 8px 0 0;
        padding: 1.5% 2%;
        height: max-content;
        position: relative;
        width: 250px;

        .sidebar {
            background: $azul-escuro;
            padding: 3%;
            border-radius: 5px;
            overflow: hidden;

            .form__notices {
                position: relative;

                input {
                    height: 36px;
                    width: 100%;
                    border-radius: 5px;
                    background: transparent;
                    border: 1px solid rgba(255, 255, 255, 0.466);
                    position: relative;
                    color: #fff;
                    font-size: 1.8rem;
                    text-align: center;
                    padding: 0 30px;
                    margin-bottom: 10%;

                    &::placeholder {
                        color: #fff;
                        font-size: 1.8rem;
                        text-align: center;
                    }
                }

                span.search {
                    color: #fff;
                    font-size: 1.6rem;
                    position: absolute;
                    top: 0%;
                    right: 0%;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 36px;
                    width: 35px;

                    border-radius: 0 5px 5px 0;
                    transition-duration: 0.5s;

                    &:hover {
                        background-color: #fff;
                        color: #294C71;
                    }

                }

                span.tab {
                    color: rgba(255, 255, 255, 0.493);
                    font-size: 2.6rem;
                    position: absolute;
                    top: 3%;
                    left: 4%;
                }
            }

            ul {
                list-style: none;

                li a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: 300;
                    padding: 5%;
                    display: block;
                    transition-duration: 0.4s;
                    border-radius: 5px;

                    &.active {
                        background: #fff;
                        color: $azul-escuro;

                        font-weight: 500;

                    }

                    &:hover {
                        transform: translateX(5px);
                        opacity: 0.7;
                    }
                }
            }
        }

        .sidebar.email {
            height: max-content;
            margin-top: 2%;
            background: #fff;
            padding: 0;

            .form__notices {
                text-decoration: none;
                color: $azul-escuro;
                font-size: 1.4rem;
                font-weight: 300;
                padding: 5%;
                display: block;
                transition-duration: 0.4s;
                border-radius: 5px;

                input {
                    margin-bottom: 0;
                    border: 1px solid $azul-escuro;
                    padding: 0 30px 0 4px;
                    color: $azul-escuro;
                    text-align: start;

                    &::placeholder {
                        color: #294c7181;
                        font-size: 1.8rem;
                        text-align: center;
                    }
                }

                span.notice {
                    color: $azul-escuro;
                    font-size: 1.6rem;
                    position: absolute;
                    top: 38%;
                    right: 5%;
                    border: 1px solid $azul-escuro;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 36px;
                    width: 35px;

                    border-radius: 0 5px 5px 0;
                    transition-duration: 0.5s;

                    &:hover {
                        background-color: $azul-escuro;
                        color: #fff;
                    }

                }
            }

            ul {
                list-style: none;
                min-width: 230px;

                li a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: 300;
                    padding: 5%;
                    display: block;
                    transition-duration: 0.4s;
                    border-radius: 5px;

                    &.active {
                        background: #fff;
                        color: $azul-escuro;

                        font-weight: 500;

                    }

                    &:hover {
                        transform: translateX(5px);
                        opacity: 0.7;
                    }
                }
            }
        }
    }

}

// Footer

footer {
    background: $azul-escuro;
    font-size: 1.7rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 1%;

    a {
        color: #fff;
    }

}

@media (max-width: 970px) {
    aside {
        display: none;
    }
}

@media (max-width: 673px) {
    main section {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 620px) {

    .menu {
        background: none;
    }

    .menu.menu.active {
        background: $azul-escuro;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: max-content;
        margin: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu nav ul {
        display: none;
    }

    .menu img {
        position: absolute;
        top: 0;
        left: 16px;
    }

    .menu.menu.active nav ul {
        display: flex;
        flex-direction: column;
        width: 310px;
        margin-top: 120px;


        li a {
            border-radius: 1px;
            display: flex;
            flex-direction: column;
            padding: 25px 40px;
            font-size: 1.8rem;
            font-weight: 500;
            transition-duration: 0.4s;

            &:hover {
                transform: none;
            }
        }
    }

    .menu .menu__toggle {
        display: block;
        transition-duration: 0.5s;
    }

    .menu.active .menu__toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu.active .menu__toggle .two {
        opacity: 0;
    }

    .menu.active .menu__toggle .three {
        transform: rotate(-45deg) translate(9px, -8px);
    }
}