$azul-escuro: #294C71;
$vermelho-escuro: #B10333;
$vermelho-claro: #DE003E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

header,
main,
footer {
    max-width: 950px;
    min-width: 320px;
    margin: 0 auto;
}

body {
    background: url(../assets/fundo.png) repeat-x top;
}

// Menu

.menu {

    height: 233px;
    background: url(../assets/detalhe-topo.png) no-repeat right top;
    position: relative;
    

    img {
        margin-top: 20px;
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        width: max-content;
        margin: 20px auto;
        background: rgba(255, 255, 255, 0.253);
        border-radius: 30px;
        overflow: hidden;

        li a {
            text-decoration: none;
            color: #fff;
            border-radius: 30px;
            display: block;
            padding: 15px 20px;
            font-size: 1.5rem;
            font-weight: 500;
            transition-duration: 0.4s;

            &:hover {
                color: $azul-escuro;
                transform: translateX(5px);
            }
        }

        li a.active {
            background: #fff;
            color: $azul-escuro;
        }
    }

    .menu__toggle {
        display: none;
        position: absolute;
        top: 15px;
        right: 0;
        padding: 5px;
        width: 50px;
        height: 47px;
        margin-right: 40px;
        margin-left: auto;
        cursor: pointer;

        .one,
        .two,
        .three {
            background-color: #fff;
            border-radius: 4px;
            height: 5px;
            width: 100%;
            margin: 6px auto;
            transition-duration: 0.3s;
        }
    }
}

// Main

main {
    display: grid;
    grid-template-areas: 
        "sidenav content"
    ;

    section {
        grid-area: content;
        
        display: grid;
        grid-template-columns: 1fr 1fr;

        .article {
            background: url(../assets/fundo-caixa.png);
            margin: 2% 1%;
            padding: 1%;

            .content {
                background: #fff;
                padding: 1%;
            }

            h2 {
                background: $azul-escuro;
                color: #fff;
                padding: 5px;
                font-size: 1.8rem;
            }

            h1 {
                background: $vermelho-escuro;
                display: block;
                width: max-content;
                padding: 3px;
                margin: 0 0 2%;
            }

            img {
                width: 100%;
                border-radius: 7px;
            }

            p , a {
                font-size: 1.6rem;
                margin: 1% 0;
            }

            a {
                text-decoration: none;
                color: $vermelho-escuro;
                font-weight: 500;
            }

            
        }
    }

    aside {
        grid-area: sidenav;
        background: url(../assets/fundo-caixa.png);
        padding: 1%;
        height: max-content;
        position: relative;
    }

}

@media (max-width: 620px) {

    .menu {
        background: none;
    }

    .menu.menu.active {
        background: $azul-escuro;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: max-content;
        margin: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu nav ul {
        display: none;
    }

    .menu img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu.menu.active nav ul {
        display: flex;
        flex-direction: column;
        width: 310px;
        margin-top: 120px;
        

        li a {
            border-radius: 1px;
            display: flex;
            flex-direction: column;
            padding: 25px 40px;
            font-size: 1.8rem;
            font-weight: 500;
            transition-duration: 0.4s;

            &:hover {
                transform: none;
            }
        }
    }

    .menu .menu__toggle {
        display: block;
        transition-duration: 0.5s;
    }

    .menu.active .menu__toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
      }
      .menu.active .menu__toggle .two {
        opacity: 0;
      }
      .menu.active .menu__toggle .three {
        transform: rotate(-45deg) translate(9px, -8px);
      }
}